@import "./reset.css";
@import "./animations.css";
body,
html {
    overflow: hidden;
    font-family: "SF";
    color: white;
}

.site {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 100vw;
    grid-template-areas: "head" "content";
    background: url("../Imgs/index_background.jpg") center/cover;
    z-index: 1;
}

.head {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "hl hr";
    grid-area: head;
    font-weight: 600;
}

.head-left {
    grid-area: hl;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "logo cp-name";
}

.logo_wrapp {
    grid-area: logo;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logo {
    height: 100%;
    width: 60px;
    background: url("../Imgs/logo.png") center/contain no-repeat;
}

.comp_name_wrapp {
    grid-area: cp-name;
    padding-left: 15px;
    display: flex;
    align-self: center;
}

.comp_name {
    letter-spacing: 1.5px;
    font-size: 30px;
}

.head-right {
    grid-area: hr;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar>span {
    margin-left: 15px;
    cursor: pointer;
}

.content {
    grid-area: content;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bars {
    width: 256px;
    height: 256px;
    background: url("../Imgs/bars.gif") center/cover no-repeat;
}

.intro {
    font-size: 40px;
    text-align: center;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    line-height: 70px;
}

.cit {
    opacity: 0;
    font-size: 14px;
    font-style: italic;
    transform: translateY(30vh);
    animation-name: fade-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.cit_name {
    transform: translateY(32vh);
}


/*LOGIN*/

.login_panel,
.signup_panel {
    height: 100vh;
    width: 100vw;
    position: absolute;
    clip-path: circle(0px at 73% 7vh);
    transition: 0.5s all ease-out;
    background: url("../Imgs/index_background.jpg") center/cover;
}

.login_panel_open {
    clip-path: circle(2048px);
}

.login_butt_up,
.sign_butt_up {
    z-index: 2;
}

.login_wrapp,
.signup_wrapp {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form,
.signup_form {
    background-color: white;
    width: 380px;
    height: 620px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.form_head {
    height: 130px;
}

.form_welcome {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: block;
    color: #333;
}

.form_logo {
    margin: 20px 0;
    display: block;
    height: 50px;
    background: url("../Imgs/logo.png") center/contain no-repeat;
}

.login_input_fields,
.signup_input_fields {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.login_input_fields input {
    margin: 20px 0;
}

#login_username,
#login_password,
#signup_username,
#signup_password,
#signup_email {
    padding: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 14px;
    outline: none;
}

#login_username::placeholder,
#login_password::placeholder {
    font-weight: bold;
    text-transform: uppercase;
}

#login_submit,
#signup_submit {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: #a81e1e;
    padding: 10px;
    border-radius: 22px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.isnotreg,
.alrdreg {
    color: #a81e1e;
    font-size: 13px;
}


/*SIGNUP*/

.signup_form {
    height: 700px;
}

.signup_panel {
    clip-path: circle(0px at 77% 5vh);
}

.signup_panel_open {
    clip-path: circle(2048px);
}

.signup_input_fields input {
    margin: 15px 0;
}

.gender {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.age_wrapp {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login_error,
.signup_error {
    transition: 1s all ease;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    font-size: 13px;
    color: red;
}

.error_show {
    opacity: 1;
    height: 20px;
}

input[type="radio"] {
    transition: 0.2s all ease;
    outline: none;
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    width: 20px;
    height: 20px;
    /* background-color only for content */
    border: 2px solid black;
    background-clip: content-box;
    background-color: #333;
    border-radius: 50%;
}


/* appearance for checked radiobutton */

input[type="radio"]:checked {
    background-color: #a81e1e;
}

@media screen and (max-width: 768px) {
    .content {
        width: 50vw;
    }
    .bars {
        margin-top: 50px;
        width: 246px;
        min-height: 100px;
    }
    .intro {
        font-size: 20px;
    }
    .cit,
    .cit_name {
        display: none;
    }
}