@import "./reset.css";
@import "./animations.css";
@import "./fonts.css";
.main {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: "SF";
    position: relative;
    display: grid;
    grid-template-columns: 290px 1fr;
    grid-template-rows: 56px calc(100vh - 56px);
    grid-template-areas: "side_menu media" "side_menu content";
}


/* SIDE MENU STYLE */

.side_menu {
    grid-area: side_menu;
    background-color: #252526;
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    border-right: 0.5px solid #4d4d4d;
}

.side_head {
    height: 56px;
    display: flex;
    align-items: center;
    color: white;
}

.logo {
    height: 22px;
    width: 22px;
    margin-right: 5px;
    background: url("../Imgs/logo.png") center/cover no-repeat;
}

.side_search {
    display: flex;
    align-items: center;
    height: 60px;
}

.search_wrapp {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 5px;
    overflow: hidden;
}

.search_input {
    outline: none;
    height: 100%;
    width: 100%;
    background-color: #1f1f1f;
    border-color: transparent;
    color: white;
}

.search_input::placeholder {
    font-size: 13px;
    font-weight: bold;
    font-family: "SF";
}

.search_icon {
    height: 100%;
    width: 16px;
    margin: 0 6px;
    background: url("../Imgs/search.png") center/contain no-repeat;
}

.side_section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_name {
    color: #828283;
    font-weight: bold;
    text-transform: uppercase;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    display: inline-block;
}

.section_list {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.section_item {
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
}

.section_icon {
    display: inline-block;
    width: 25px;
    height: 100%;
    margin-right: 5px;
}

.explore .section_icon {
    background: url("../Imgs/explore.png") center/contain no-repeat;
}

.recently .section_icon {
    background: url("../Imgs/recently.png") center/contain no-repeat;
}

.artists .section_icon {
    background: url("../Imgs/artists.png") center/contain no-repeat;
}

.albums .section_icon {
    background: url("../Imgs/album.png") center/contain no-repeat;
}

.songs .section_icon {
    background: url("../Imgs/songs.png") center/contain no-repeat;
}

.playlist_icon {
    height: 20px;
    width: 20px;
    background: url("../Imgs/playlist.png") center/cover;
}

.explore_btn,
.recently_btn,
.artists_btn,
.albums_btn,
.songs_btn,
.playlist_item_name {
    font-size: 15px;
    color: white;
}


/* MEDIA AND PLAYBACK STYLE */

.media {
    grid-area: media;
    background-color: #2c2c2c;
    display: grid;
    grid-template-columns: calc(30% - 22px) minmax(40%, 900px) calc(30% + 22px);
    grid-template-areas: "playback_controls_wrapp playback_wrapp  controls_wrapp";
}

.playback_controls_wrapp {
    grid-area: playback_controls_wrapp;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playback_controls {
    height: 32px;
    display: flex;
    align-items: center;
}

.playback_controls * {
    cursor: pointer;
    width: 30px;
    height: 22px;
}

.playback_shuffle_btn {
    background: url("../Imgs/shuffle.png") center/cover;
}

.shuffle_active {
    cursor: pointer;
    width: 30px;
    height: 22px;
    background: url("../Imgs/shuffle_active.png") center/cover;
}

.playback_back_arrow_btn {
    background: url("../Imgs/backarrow.png") center/cover;
}

.playback_play_btn {
    background: url("../Imgs/play.png") center/cover;
}

.song_played {
    background: url("../Imgs/pause.png") center/cover;
}

.playback_next_btn {
    background: url("../Imgs/next.png") center/cover;
}

.playback_repeat_btn {
    background: url("../Imgs/repeat.png") center/cover;
}

.repeat_active {
    cursor: pointer;
    width: 30px;
    height: 22px;
    background: url("../Imgs/repeat_active.png") center/cover;
}

.playback_wrapp,
.controls_wrapp {
    display: flex;
    align-items: center;
}

.playback_wrapp {
    grid-area: playback_wrapp;
}

.controls_wrapp {
    grid-area: controls_wrapp;
}

.playback,
.controls {
    height: 80%;
    width: 100%;
    display: flex;
}

.miniplayer_img {
    height: 100%;
    width: 44px;
}

.actual_song_descriptor {
    width: calc(100% - 44px);
    display: flex;
    flex-direction: column;
}

.actual_song_infos {
    background-color: #4d4d4d;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.actual_song_name {
    font-weight: 400;
    color: white;
}

.actual_artist_album {
    margin-top: 2px;
    font-weight: 300;
    color: #99999d;
}

.actual_song_bar {
    height: 10%;
}

.no_artwork {
    background: url("../Imgs/no_arkwork.png") center/cover !important;
}

.no_song {
    background-color: #4d4d4d;
}

.controls {
    align-items: center;
}


/* QUEUE */

.queue_icon_wrapper {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.queue_icon {
    height: 36px;
    width: 36px;
    border: 1px solid #4d4d4d;
    margin-left: 10px;
    background: url("../Imgs/queue.png") center/cover;
    cursor: pointer;
}


/* ? */

.queue_list {
    position: absolute;
    top: 50px;
    min-height: 60px;
    max-height: 300px;
    width: 250px;
    overflow-y: scroll;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    background-color: #252526;
    display: none;
    flex-direction: column;
    transition: 0.1s all ease-in;
    color: white;
}

.queue_item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4d4d4d;
    padding: 8px 0;
    cursor: context-menu;
}

.no_queued_items {
    justify-content: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
}

.queue_item_ill {
    background: url("../Imgs/no_arkwork.png") center/cover;
    height: 40px;
    width: 40px;
    margin: 0px 10px;
}

.queue_item_name {
    font-size: 12px;
    padding-right: 5px;
}

.queue_reset_btn {
    font-size: 13px;
    padding: 10px;
    text-align: center;
    color: #a81e1e;
    cursor: pointer;
}

.volume_control_wrapp {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume_icon {
    height: 10px;
    width: 15px;
    display: inline-block;
    margin-right: 10px;
    background: url("../Imgs/volume.png") center/cover;
}

.user_and_settings {
    cursor: pointer;
    position: relative;
    background: url("../Imgs/user_icon.png") center/contain no-repeat;
    height: 35px;
    width: 35px;
}

.user_settings_wrapp {
    display: flex;
    flex-direction: column;
    display: none;
    height: auto;
    width: 100px;
    position: absolute;
    top: 45px;
    right: 0px;
    border-radius: 7px;
    background-color: #646468;
    font-size: 14px;
    overflow: hidden;
}

.logout_btn {
    border: none;
    background-color: #646468;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.1s all ease-in;
}

.user_settings_username {
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.logout_btn:hover {
    color: #bb1a04;
}


/* VOLUME SLIDER http://danielstern.ca/range.css/?ref=css-tricks#/ */

input[type="range"] {
    width: 77px;
    margin: 3.5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #4c4c4c;
    border: 0;
    border-radius: 3px;
    width: 100%;
    height: 4px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    margin-top: -3.5px;
    width: 10px;
    height: 10px;
    background: #aaaaaa;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #595959;
}

input[type="range"]::-moz-range-track {
    background: #4c4c4c;
    border: 0;
    border-radius: 3px;
    width: 100%;
    height: 4px;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #aaaaaa;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6.1px 0;
    color: transparent;
    width: 100%;
    height: 4px;
    cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
    background: #3f3f3f;
    border: 0;
    border-radius: 2px;
}

input[type="range"]::-ms-fill-upper {
    background: #4c4c4c;
    border: 0;
    border-radius: 2px;
}

input[type="range"]::-ms-thumb {
    width: 10px;
    height: 10px;
    background: #aaaaaa;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
}

input[type="range"]:focus::-ms-fill-lower {
    background: #4c4c4c;
}

input[type="range"]:focus::-ms-fill-upper {
    background: #595959;
}


/* VOLUME SLIDER http://danielstern.ca/range.css/?ref=css-tricks#/ */

.content {
    grid-area: content;
    min-height: 94vh;
    background-color: #1f1f1f;
}

.loaded {
    height: calc(100vh - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
}


/*SONGS*/

.phone_head {
    display: none;
}

.songs_layout {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 78px);
}

.library_header,
.row_song {
    display: grid;
    grid-template-columns: repeat(3, calc((90%) / 3)) 1fr 1fr;
    padding: 0 30px;
}

.library_header {
    grid-template-areas: "name artist album time";
    height: 25px;
    line-height: 25px;
    color: white;
    font-size: 12px;
    border-bottom: 0.5px solid #4d4d4d;
}

.row_song {
    height: 45px;
    border-top: 0.5px solid #4d4d4d;
    grid-template-areas: "songname songartist songalbum songtime songicon";
}

.album_row_song {
    display: grid;
    grid-template-columns: 40px repeat(2, calc((100% - 80px) / 2)) 40px;
    padding: 0 10px;
    height: 45px;
    border-top: 0.5px solid #4d4d4d;
    grid-template-areas: "songnumber songname songtime songicon";
    cursor: pointer;
}

.row_song:nth-of-type(even),
.album_row_song:nth-of-type(even) {
    background-color: #2c2c2c;
}

.row_song:first-of-type,
.album_row_song:first-of-type {
    border-top: none;
}

.row_song:last-of-type,
.album_row_song:last-of-type {
    border-bottom: 0.5px solid #4d4d4d;
}

.column_header_artist {
    grid-area: artist;
}

.column_header_album {
    grid-area: album;
}

.column_header_time {
    grid-area: time;
}

.row_song_songname,
.row_song_songartist,
.row_song_songalbum,
.row_song_songtime,
.row_song_songnumber,
.row_song_songicon {
    display: flex;
    align-items: center;
    color: white;
    font-size: 13px;
}

.row_song_songnumber {
    justify-content: center;
}

.album_row_song:hover .row_song_songnumber {
    font-size: 0px;
    background: url("../Imgs/play_over.png") center/25px no-repeat;
}

.song_illustration {
    position: relative;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    cursor: pointer;
}

.song_illustration::before {
    display: none;
    content: "";
    position: absolute;
    height: 36px;
    width: 36px;
    background: url("../Imgs/play_over.png") center/27px no-repeat;
}

.song_illustration:hover::before {
    display: initial;
    background-color: rgba(0, 0, 0, 0.5);
}

.song_opt_dots,
.song_add_icon,
.song_owned_icon {
    cursor: pointer;
    width: 30px;
    height: 10px;
    margin-left: 10px;
    background: url("../Imgs/song_opt.png") center/cover;
}

.song_add_icon {
    background: url("../Imgs/add_song.png") center/cover;
    width: 15px;
    height: 15px;
    margin-left: auto;
}

.song_owned_icon {
    cursor: context-menu;
    background: url("../Imgs/check.png") center/cover no-repeat;
    width: 15px;
    height: 15px;
    margin-left: auto;
}

.song_opt_main {
    display: none;
    border-radius: 5px;
    height: auto;
    width: 200px;
    border: 1px solid #4d4d4d;
    position: relative;
    top: 10px;
}

.song_opt_item {
    position: relative;
    padding: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #646468;
}

.song_opt_item_icon {
    height: 20px;
    width: 20px;
    background-position: center center;
    background-size: cover;
}

.add_queue_icon {
    background-image: url("../Imgs/queue.png");
}

.add_playlist_icon {
    background-image: url("../Imgs/playlist.png");
}

.song_opt_item:hover {
    background-color: #4d4d51;
}

.song_opt_playlist_main {
    display: none;
    flex-direction: column;
    height: auto;
    width: 200px;
    position: absolute;
    left: 199px;
    top: 0px;
    background-color: #646468;
    overflow: hidden;
    border-radius: 5px;
}

.song_opt_playlist_create_icon {
    height: 15px;
    width: 15px;
    background: url("../Imgs/plus.png") center/cover;
}

.song_opt_item:hover>.song_opt_playlist_main {
    display: flex;
}

.song_opt_playlist_main:first-child {
    border-radius: 0px 5px 5px 0px;
}

.song_opt_playlist_main:last-child {
    border-radius: 0px 5px 5px 5px;
}


/* ALBUM LAYOUT */

.album_layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(249px, 1fr));
    grid-template-rows: auto 1fr;
    padding: 20px 20px;
    grid-gap: 20px;
}

.album_ill {
    position: relative;
    height: 292px;
    background-size: cover;
    background-position: center;
}

.album_ill:hover .ill_hover,
.explore_albums_ill:hover .explore_albums_ill_hover {
    opacity: 1;
}

.ill_hover {
    cursor: pointer;
    transition: 0.1s all ease-in;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    content: "";
    position: absolute;
    height: 292px;
    width: 100%;
    align-items: flex-end;
    opacity: 0;
}

.ill_buttons,
.explore_albums_ill_buttons {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ill_play_bttn,
.explore_ill_play_bttn,
.explore_ill_add_bttn {
    transition: 0.1s all ease-in;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background: url("../Imgs/play_over.png") center/cover;
}

.ill_play_bttn:hover,
.explore_ill_add_bttn:hover,
.explore_ill_play_bttn:hover {
    background-color: red;
    border: 1px solid red;
}

.album_det {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: 400;
    color: white;
}


/* ARTISTS LAYOUT */

.artists_layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "side artist_content";
    height: calc(100vh - 56px);
}

.artists_side {
    grid-area: side;
    border-right: 0.5px solid #4d4d4d;
    overflow-y: scroll;
}

.artist_row {
    padding: 4px 13px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.artist_icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url("../unify_media/Coldplay/artist.jpg") center/cover;
}

.artist_artist_name {
    border-bottom: 1px solid #4d4d4d;
    height: 100%;
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
}

.artist_content {
    overflow-y: scroll;
    padding: 10px 20px;
}

.artist_album_row {
    display: flex;
    margin: 100px 0;
}

.artist_album_row:first-of-type {
    margin-top: 0;
}

.artist_album_ill {
    height: 300px;
    width: 300px;
    background: url("../Imgs/no_arkwork.png") center/contain;
}

.artist_album_det {
    width: calc(100% - 300px);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.artist_album_info {
    height: 100px;
    color: white;
}

.artist_album_name {
    border: 1px solid yellow;
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .main {
        grid-template-columns: 100vh;
        grid-template-rows: 10vh 80vh 10vh;
        grid-template-areas: "phone_head" "content" "media";
    }
    .phone_head {
        grid-area: phone_head;
        width: 100vw;
        border: 1px solid red;
        background-color: #1f1f1f;
        display: flex;
        align-items: flex-end;
        padding: 10px;
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    .content {
        min-height: 80vh;
    }
    .media {
        height: 10vh;
        grid-template-columns: 25vw 45vw 30vw;
        grid-template-areas: "playback_wrapp playback_controls_wrapp controls_wrapp";
    }
    .playback_wrapp {
        width: 100%;
    }
    .volume_icon {
        display: none;
    }
    .actual_song_descriptor {
        display: none;
    }
    .playback {
        justify-content: center;
    }
}

*::-webkit-scrollbar {
    /* border: 1px solid white;
        width: 5px;
        border-radius: 20px;
        background-color: #2c2c2c; */
    display: none;
}

.add_playlist_check_wrapp {
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease-in;
}

.add_playlist_check {
    height: 200px;
    width: 200px;
    background: url("../Imgs/add_playlist_check.png") center/contain;
}

.playlist_add_checked {
    animation-name: playlist_in;
    animation-duration: 2.5s;
}

.create_playlist_wrapp {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.create_playlist {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 1px solid #a81e1e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.create_playlist_head {
    height: 10px;
    border-bottom: 1px solid #a81e1e;
    padding: 30px 10px;
    font-size: 20px;
    color: white;
    cursor: default;
}

.create_playlist_input_wrapp {
    height: 50px;
}

.create_playlist_input {
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    border-bottom: 1px solid grey;
}

.create_playlist_input::selection {
    color: white;
    background-color: #a81e1e;
}

.create_playlist_submit_wrapp {
    height: 100%;
}

.create_playlist_submit {
    border-top: 1px solid #a81e1e;
    background-color: #4d4d4d;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease;
    cursor: pointer;
}

.create_playlist_submit:hover {
    color: white;
    background-color: #6e150a;
}

.wrong_input {
    color: red;
}

.error_input_wrapp {
    transition: 0.2s all ease;
    padding: 20px;
    color: red;
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
}


/* GEENRAL */

.show_flex {
    display: flex;
    z-index: 100;
}

.hide {
    display: none;
}

.pl_name {
    height: 60%;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.other_pl_infos {
    height: 20%;
    padding-left: 10px;
    font-size: 13px;
}

.single_album_layout {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: "single_album_ill_wrapp single_album_det";
    height: 100%;
}

.single_album_ill_wrapp {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.single_album_ill {
    height: 350px;
    width: 350px;
}

.single_album_det_wrapp {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 50px;
}

.single_album_det {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    border-bottom: 1px solid #4d4d4d;
    margin-top: 40px;
}

.single_album_name {
    color: white;
    font-size: 26px;
}

.single_album_artist {
    color: #9c1a09;
    font-size: 22px;
}

.single_album_genre {
    color: #4d4d4d;
}

.single_album_play_btn {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9c1a09;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 1px;
}

.single_album_songs {
    height: calc(100% - 190px);
}


/* PLAYLIST_LAYOUT */

.playlist_layout {
    display: grid;
    grid-template-rows: 150px calc(85vh - 150px);
    grid-template-areas: "playlist_head_wrapp" "playlist_content";
    padding: 0 25px;
}

.playlist_content {
    height: calc(100vh - 56px - 182px);
}

.playlist_head_wrapp {
    border-bottom: 0.5px solid #4d4d4d;
}

.playlist_head {
    display: grid;
    grid-template-columns: 10vw 1fr;
    grid-template-areas: "pl_img pl_infos";
    color: white;
    height: 100%;
}

.pl_img {
    align-self: center;
    justify-self: center;
    height: 120px;
    width: 120px;
}

.pl_infos {
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* EMPTY SECTION */

.empty_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.empty_section_message {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.empty_section_text {
    color: white;
}

.empty_section_explore_btn {
    color: #a81e1e;
    cursor: pointer;
}


/* EXPLORE */

.explore_songs,
.explore_albums,
.explore_artists {
    border-top: 1px solid #3f3f3f;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.explore_layout {
    display: grid;
    grid-template-rows: repeat(3, minmax(250px, calc(100% / 3)));
    grid-template-areas: "explore_albums" "explore_songs" "explore_artists";
}

.explore_section_head {
    height: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.explore_section_see_more {
    font-size: 14px;
    color: #bb1a04;
    cursor: pointer;
}

.explore_albums_albums,
.explore_songs_songs,
.explore_artists_artists {
    height: 100%;
}

.explore_albums_albums {
    display: flex;
}

.explore_albums_item {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.explore_albums_ill {
    height: 170px;
    width: 170px;
    background: url("../unify_media/Coldplay/A\ Head\ Full\ Of\ Dreams/cover.jpg") center/cover;
}

.explore_albums_ill_hover {
    cursor: pointer;
    transition: 0.1s all ease-in;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    content: "";
    position: absolute;
    height: 170px;
    width: 170px;
    align-items: flex-end;
    opacity: 0;
}

.explore_ill_play_bttn {
    margin-left: 7px;
    background-size: 25px;
}

.explore_ill_add_bttn {
    background: url("../Imgs/add.png") center/20px no-repeat;
    margin-right: 7px;
}

.explore_albums_ill_buttons {
    justify-content: space-between;
}

.explore_songs_songs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    height: 60%;
}

.explore_song {
    height: 60px;
    border: 1px solid red;
}

.loader,
.album_loader {
    border: 2px solid #bb1a04;
    border-radius: 50%;
    border-top: 2px solid white;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin-left: auto;
}

.album_loader {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}


/* VARIABILI CSS USARE */